In [1]:
#impot dependencies
import pandas as pd
import gmaps
import requests

#import the API Key 
from config import g_key

In [2]:
# Store the csv you saved created in part into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-01-30 03:36:33,-21.3585,55.7679,81.00,57,0,5.75
1,1,Miyako,JP,2021-01-30 03:41:48,39.6367,141.9525,33.12,80,1,23.76
2,2,Beringovskiy,RU,2021-01-30 03:38:57,63.0500,179.3167,-18.15,83,0,10.27
3,3,Zuwarah,LY,2021-01-30 03:41:48,32.9312,12.0820,59.99,52,0,15.77
4,4,Thaba+Nchu,ZA,2021-01-30 03:41:48,-29.2093,26.8390,61.27,63,49,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# get the maximum temp
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [12]:
# Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]

#Get the maximum temp
max_temp = city_data_df["Max Temp"]

#assign the fig variable 
# fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assing the heatmap variable
hear_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                 max_intensity=300,point_radius=4)

# add the heatmap layer
fig.add_layer(hear_layer)

#call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
#Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Heatmap of percent wind speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# ask the customer for min and max temp values
min_temp  = float(input("What is the minimum temp you would like for your trip?"))
max_temp  = float(input("What is the maximum temp you would like for your trip?"))

What is the minimum temp you would like for your trip?75
What is the maximum temp you would like for your trip?90

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"] >=min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2021-01-30 03:36:33,-21.3585,55.7679,81.00,57,0,5.75
8,8,Tagusao,PH,2021-01-30 03:37:57,9.1924,117.8141,81.45,71,58,12.39
11,11,Kapaa,US,2021-01-30 03:37:34,22.0752,-159.3190,75.20,78,40,16.11
12,12,Avarua,CK,2021-01-30 03:36:23,-21.2078,-159.7750,82.40,74,75,8.05
14,14,Mahebourg,MU,2021-01-30 03:33:05,-20.4081,57.7000,78.80,89,40,8.05
16,16,Rikitea,PF,2021-01-30 03:37:33,-23.1203,-134.9692,80.19,72,24,9.82
17,17,Georgetown,MY,2021-01-30 03:32:52,5.4112,100.3354,86.00,61,20,8.05
19,19,Busselton,AU,2021-01-30 03:33:19,-33.6500,115.3333,82.00,45,0,5.99
21,21,Vaini,TO,2021-01-30 03:37:39,-21.2000,-175.2000,80.60,89,90,14.97
27,27,Loon,PH,2021-01-30 03:41:51,9.7998,123.7929,75.20,94,90,18.41

In [28]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [32]:
hotel_df = preferred_cities_df[["City" , "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0   Saint-Philippe      RE     81.00 -21.3585   55.7679
8          Tagusao      PH     81.45   9.1924  117.8141
11           Kapaa      US     75.20  22.0752 -159.3190
12          Avarua      CK     82.40 -21.2078 -159.7750
14       Mahebourg      MU     78.80 -20.4081   57.7000
16         Rikitea      PF     80.19 -23.1203 -134.9692
17      Georgetown      MY     86.00   5.4112  100.3354
19       Busselton      AU     82.00 -33.6500  115.3333
21           Vaini      TO     80.60 -21.2000 -175.2000
27            Loon      PH     75.20   9.7998  123.7929

In [46]:
# iterate through the DataFrame

for index,row in hotel_df.iterrows():
    #Get he lat and lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    params = {
    "radius":50000,
    "types":'lodging',
    "key" :g_key
#     "location" :"48.8566, 2.3522"
           }
    
    # add the lat and long to location key for the params dict
    
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
#     hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [45]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Philippe,RE,81.00,-21.3585,55.7679,Hôtel L'Ecrin
8,Tagusao,PH,81.45,9.1924,117.8141,Palawan Ecolodge
11,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
12,Avarua,CK,82.40,-21.2078,-159.7750,Little Polynesian Resort
14,Mahebourg,MU,78.80,-20.4081,57.7000,Hilton Mauritius Resort & Spa

In [49]:
# add the heatmap of temp for the vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

#call the figure to plot he data
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# add a heatmap of temp for the vacation spots and marker for each city
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
                              max_intensity=300,point_radius=4)
marker_layer =gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [54]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [55]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))