## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.87,76,3,12.93,light rain
1,1,Ponta+Do+Sol,PT,32.6667,-17.1000,61.00,75,69,1.79,broken clouds
2,2,Cooma,AU,-36.2333,149.1333,55.40,100,90,1.99,overcast clouds
3,3,Kodinsk,RU,58.6881,99.1844,-40.72,78,38,2.95,scattered clouds
4,4,Kontagora,NG,10.3999,5.4695,80.55,16,0,4.32,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temp you would like for your trip?"))
max_temp = float(input("What is the minimum temp you would like for your trip?"))

What is the minimum temp you would like for your trip?70
What is the minimum temp you would like for your trip?95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"] <=95)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,78.87,76,3,12.93,light rain
4,4,Kontagora,NG,10.3999,5.4695,80.55,16,0,4.32,clear sky
9,9,Souillac,MU,-20.5167,57.5167,78.80,89,75,8.05,light rain
10,10,Sinnamary,GF,5.3833,-52.9500,78.82,87,100,13.24,moderate rain
11,11,Eyl,SO,7.9803,49.8164,72.81,77,17,13.15,few clouds
15,15,Auki,SB,-8.7676,160.7034,79.77,85,100,11.32,moderate rain
19,19,Pozo+Colorado,PY,-23.4923,-58.7972,89.17,57,100,3.53,overcast clouds
20,20,Vaini,TO,-21.2000,-175.2000,78.80,94,75,6.91,broken clouds
23,23,Am+Timan,TD,11.0297,20.2827,78.33,18,0,5.23,clear sky
24,24,Clevelandia,BR,-26.3958,-52.4708,72.32,86,92,9.01,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                283
City                   283
Country                281
Lat                    283
Lng                    283
Max Temp               283
Humidity               283
Cloudiness             283
Wind Speed             283
Current Description    283
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                281
City                   281
Country                281
Lat                    281
Lng                    281
Max Temp               281
Humidity               281
Cloudiness             281
Wind Speed             281
Current Description    281
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,78.87,light rain,-23.1203,-134.9692,
4,Kontagora,NG,80.55,clear sky,10.3999,5.4695,
9,Souillac,MU,78.80,light rain,-20.5167,57.5167,
10,Sinnamary,GF,78.82,moderate rain,5.3833,-52.9500,
11,Eyl,SO,72.81,few clouds,7.9803,49.8164,
15,Auki,SB,79.77,moderate rain,-8.7676,160.7034,
19,Pozo+Colorado,PY,89.17,overcast clouds,-23.4923,-58.7972,
20,Vaini,TO,78.80,broken clouds,-21.2000,-175.2000,
23,Am+Timan,TD,78.33,clear sky,11.0297,20.2827,
24,Clevelandia,BR,72.32,overcast clouds,-26.3958,-52.4708,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
        
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"
#     print(params)
    
    base_url ="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.head(10)
hotel_df.count()
# hotel_df.isnull().sum()

City                   281
Country                281
Max Temp               281
Current Description    281
Lat                    281
Lng                    281
Hotel Name             281
dtype: int64

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df= hotel_df.dropna()
clean_hotel_df =hotel_df.loc[hotel_df["Hotel Name"]!='']

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))