## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,80.65,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,1,Sembabule,UG,78.08,overcast clouds,-0.0772,31.4567,Rainbow Motel ( Sembabule )
2,5,Caravelas,BR,84.99,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
3,7,Araguari,BR,83.28,overcast clouds,-18.6472,-48.1872,Big Executive Hotel - Araguari MG
4,8,Atuona,PF,78.28,light rain,-9.8000,-139.0333,Villa Enata

In [8]:
clean_hotel_df =vacation_df.dropna()
clean_hotel_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Butaritari,KI,80.65,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
1,1,Sembabule,UG,78.08,overcast clouds,-0.0772,31.4567,Rainbow Motel ( Sembabule )
2,5,Caravelas,BR,84.99,clear sky,-17.7125,-39.2481,Pousada dos Navegantes
3,7,Araguari,BR,83.28,overcast clouds,-18.6472,-48.1872,Big Executive Hotel - Araguari MG
4,8,Atuona,PF,78.28,light rain,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...,...
225,633,Port+Hedland,AU,84.20,overcast clouds,-20.3167,118.5667,The Esplanade Hotel
226,638,Bonga,ET,76.24,broken clouds,7.2833,36.2333,Noona Noona Hotel
227,639,Sampit,ID,75.79,overcast clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
228,642,Watsa,CD,91.24,clear sky,3.0372,29.5355,Hôtel Le Pacifique
229,645,Kralendijk,BQ,80.60,broken clouds,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 4a. Add a marker layer for each city to the map.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=True,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
vacation_country_df = clean_hotel_df.loc[clean_hotel_df["Country"]=="GF"]
vacation_country_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
66,183,Cayenne,GF,75.20,mist,4.9333,-52.3333,Hôtel Le Dronmi
136,407,Iracoubo,GF,79.99,overcast clouds,5.4802,-53.2011,Le Gite D Iracoubo
147,435,Sinnamary,GF,79.81,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
149,443,Grand-Santi,GF,81.86,broken clouds,4.2500,-54.3833,Hotel La Villa Couacou

In [62]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Araguari"]
vacation_end   = vacation_df.loc[vacation_df["City"]=="Araguari"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Jatai"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Piranhas"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Nova+Olimpia"]

In [63]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
207,588,Nova+Olimpia,BR,85.53,broken clouds,-14.7972,-57.2881,Motel glamour

In [64]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end   = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [65]:
(end, start, stop1, stop2,  stop3)

((-18.6472, -48.1872),
 (-18.6472, -48.1872),
 (-17.8814, -51.7144),
 (-16.4269, -51.8222),
 (-14.7972, -57.2881))

In [67]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Create Map with route
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Araguari,BR,83.28,overcast clouds,-18.6472,-48.1872,Big Executive Hotel - Araguari MG
1,156,Jatai,BR,83.91,few clouds,-17.8814,-51.7144,Hotel Califórnia
2,538,Piranhas,BR,85.96,broken clouds,-16.4269,-51.8222,Planalto Hotel
3,588,Nova+Olimpia,BR,85.53,broken clouds,-14.7972,-57.2881,Motel glamour

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [77]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=True,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))